<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div style="font-style: italic; margin-top: 10px; margin-bottom: 10px">
            Consecutive commas or blanks between commas are ignored.
         </div>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control",
             ng-model="lunchItems",
             ng-style="textboxStyle">
         </div>
         <div class="form-group">
             <button class="btn btn-default"
                     ng-click="checkLunch()">Check If Too Much</button>
         </div>
 
Leave a comment
No file chosen
Attach files by dragging & dropping, selecting or pasting them.
         <div class="form-group message" ng-style="messageStyle">
           {{message}}
         </div>
   </div>

</body>
</html>